<!DOCTYPE html>
<html>
  <head>
    <title>{{ author }}'s app</title>
  </head>
  <body>
    <p>---100 Days of Code---</p>
    <form action="/action" method="post">
        <p>What would you like to do?:</p>       
        <input type="radio" name="action" value="view">View Current Logs</input>
        <br/>
        <br/>                
        <input type="radio" name="action" value="input">Add New Entry</input>
        <br/>
        <br/>
        <input type="radio" name="action" value="delete">Delete Today's Entry</input>
        <br/>
        <br/>          
        <input type="submit" value="Submit"></input>        
    </form>
  </body>
</html>