<!DOCTYPE html>
<html>
  <head>
    <title>{{ author }}'s app</title>
  </head>
  <a href="/">Go Home</a>
  <body>
    <p>---100 Days of Code Log Input---</p>
    <p>{{ warning }}</p>
    <p>The most recent entry was: Day {{ lastDay }}
    
    <form action="/inputs" method="post">
        <p>Today's Progress:</p>
        <textarea name="today" cols="50" rows="4"></textarea>        
        <p>Thoughts:</p>
        <textarea name="thoughts" cols="50" rows="4"></textarea>                
        <p>Links:</p>
        <input type="text" name="links"></input> 
        <br/>
        <br/>
        <input type="submit" value="Submit"></input>
    </form>
  </body>
</html>