{% extends "bootstrap/base.html" %}
{% block title %}Pat's First Flask app{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">100 Days Log App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/input">Input Log</a></li>
      <li><a href="/delete">Delete Log</a></li>
      <li><a href="/currentLogs">Current Logs</a></li>      
      <li><a href="/github">Push to Github</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
  <body>
    <p>{{ warning }}</p>
    <p>The most recent entry was: Day {{ lastDay }}
    
    <form action="/inputData" method="post">
        <p>Today's Progress:</p>
        <textarea name="today" cols="50" rows="4"></textarea>        
        <p>Thoughts:</p>
        <textarea name="thoughts" cols="50" rows="4"></textarea>                
        <p>Links:</p>
        <input type="text" name="links"></input> 
        <br/>
        <br/>
        <input type="submit" value="Submit"></input>
    </form>
  </body>
</html>
{% endblock %}